<div class="post-body">
  <img [src]="post.post.image" alt="Post Image" />
  <div class="post-content">
    <h2 class="post-title">{{ post.post.title }}</h2>
    <div class="post-short-description-heart">
      <p>{{ post.post.shortDescription }}</p>
      <div *ngFor="let users of usersWhoLiked">
        @if(users?.includes(userId)){
        <dislike (click)="dislike()"></dislike>
        }@else{
        <like (click)="likePost(post)"></like>
        }
      </div>
    </div>
    <p class="post-description" *ngIf="showFullView">
      {{ post.post.description }}
    </p>
  </div>
</div>
