<div class="post-body" *ngIf="post">
  <img [src]="post.post?.image" alt="Post Image" />
  <div class="post-content">
    <h2 class="post-title">{{ post.post?.title }}</h2>
    <div class="post-short-description-heart">
      <p>{{ post.post?.shortDescription }}</p>
    </div>
    <div class="post-description" *ngIf="showFullView; else hidePost">
      {{ post.post.description }}
      <button (click)="showFullPost('home')" class="btn">Go back</button>
    </div>
    <ng-template #hidePost>
      <button (click)="showFullPost(post.id)" class="btn">Full view</button>
    </ng-template>
  </div>
</div>
