<div class="container">
  <h2>Overview</h2>
  <div class="profile__card">
    <div class="image-fit">
      <img [src]="userCredentials?.avatar" alt="User Avatar" />
    </div>

    <div class="user__credentials">
      <div class="credential__item">
        <span
          class="pi pi-envelope"
          style="color: grey; font-size: var(--icon-size)"
        ></span>
        <p>{{ userCredentials?.email }}</p>
      </div>
      <div class="credential__item">
        <span
          class="pi pi-user"
          style="color: #90caf9; font-size: var(--icon-size)"
        ></span>
        <p>{{ userCredentials?.username }}</p>
      </div>
    </div>
  </div>

  <button (click)="showInput = !showInput" class="btn">
    Change profile picture
  </button>

  <form (ngSubmit)="changeAvatar()" *ngIf="showInput">
    <input
      type="text"
      name="avatar"
      class="input"
      [(ngModel)]="image"
      placeholder="Provide an image by URL"
    />
    <button *ngIf="showInput" class="btn" type="submit">Submit</button>
    <button
      (click)="showInput = false"
      *ngIf="showInput"
      class="btn"
      type="reset"
    >
      Cancel
    </button>
  </form>

  <p-toast></p-toast>
</div>
