.body {
  display: flex;
  align-items: center;
  flex-direction: column;

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: popIn 1s ease-in-out forwards;
    margin: 20px;
    color: white;
  }

  .byte__one {
    animation: fade__right 2s ease-out forwards;
    animation-delay: 2s;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
  }

  .byte__two {
    animation: fade__left 2s ease-out forwards;
    animation-delay: 4s;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
  }

  .byte__three {
    animation: fade__right 2s ease-out forwards;
    animation-delay: 6s;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
  }

  .byte__four {
    animation: popInSlow 2s ease-in-out forwards;
    animation-delay: 8s;
    visibility: hidden;
  }
}
