<div class="body">
  <div class="heading">
    <h2>
      The platform is created by the love for traveling and adventures. <br />
      We encourage people to share their favorite places to visit, or share
      their personal trips <br />
      passing on the emotions during that trip.
    </h2>
    <br />
    <h2>Here are the functionalities provided for travel buddies:</h2>
  </div>

  <div class="byte__one"><infoByte [likeFunctionality]="true"></infoByte></div>
  <div class="byte__two">
    <infoByte [uploadFunctionality]="true"></infoByte>
  </div>
  <div class="byte__three">
    <infoByte [commentFunctionality]="true"></infoByte>
  </div>
  <div class="byte__four">
    <p>Credits:</p>
    <infoByte [creditFunctionality]="true"></infoByte>
  </div>
</div>
