.body {
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: popIn 1s ease-in-out forwards;
    margin: 20px;
  }
}

.byte-one {
  animation: byte-one 2s ease-out forwards;
  animation-delay: 2s;
  visibility: hidden;
  display: flex;
  justify-content: flex-start;
}

.byte-two {
  animation: byte-two 2s ease-out forwards;
  animation-delay: 4s;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

.byte-three {
  animation: byte-two 2s ease-out forwards;
  animation-delay: 6s;
  visibility: hidden;
  display: flex;
  justify-content: flex-start;
}
