<div class="body">
  <h1>
    View all comments
    <span
      class="pi pi-arrow-circle-right"
      (click)="toggleCommentSection()"
      style="font-size: var(--icon-size)"
    ></span>
  </h1>

  <div class="cards__container">
    <post [post]="post$" [showFullView]="true"></post>
  </div>
  <div class="comment__section" [class.open]="isCommentSectionOpen">
    <h3>
      Comments
      <span
        class="pi pi-arrow-circle-left"
        (click)="toggleCommentSection()"
        style="font-size: var(--icon-size)"
      ></span>
    </h3>

    <div *ngIf="comments$?.length > 0; else noComments">
      <div class="comment" *ngFor="let comment of comments$">
        <div class="comment__avatar">
          <div class="image-fit">
            <img [src]="comment.avatar" alt="avatar " />
          </div>

          <h4>{{ comment.createdBy }}</h4>
        </div>
        <h1>{{ comment.comment }}</h1>

        <p>{{ comment.createdOn | date : "short" }}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>No comments yet.</p>
    </ng-template>
  </div>
</div>
