<div class="body">
  <h1>
    Here you can view all comments
    <p-button
      icon="pi pi-chevron-right"
      severity="warning"
      [rounded]="true"
      [outlined]="true"
      (click)="toggleCommentSection()"
    />
  </h1>

  <div class="post">
    <post [post]="post$" [showFullView]="true"></post>
  </div>
  <div class="comment__section" [class.open]="isCommentSectionOpen">
    <h3>
      Comments
      <span
        (click)="toggleCommentSection()"
        class="pi pi-times"
        style="font-size: 1rem"
      ></span>
    </h3>

    <div *ngIf="comments$?.length > 0; else noComments">
      <div class="comment" *ngFor="let comment of comments$">
        <div class="avatar">
          <img [src]="comment.avatar" alt="avatar " />
          <h4>{{ comment.createdBy }}</h4>
        </div>
        <h1>{{ comment.comment }}</h1>

        <p>{{ comment.createdOn | date : "short" }}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>No comments yet.</p>
    </ng-template>
  </div>
</div>
