<div class="form">
  <div class="form__content">
    <div class="form__text">
      <h1>Register now!</h1>
      <p class="py-6">Your travel buddies are waiting for you!</p>
    </div>
    <div class="form__body">
      <form (ngSubmit)="register()" class="form__input">
        <div class="form__control">
          <label class="label">
            <span class="label__text">Email</span>
          </label>
          <input
            type="email"
            placeholder="email"
            class="input"
            required
            [(ngModel)]="email"
            name="email"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Username</span>
          </label>
          <input
            type="text"
            placeholder="username"
            class="input"
            required
            [(ngModel)]="username"
            name="username"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input"
            required
            [(ngModel)]="password"
            name="password"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Avatar</span>
          </label>
          <input
            type="text"
            placeholder="Provide an avatar with URL"
            class="input"
            required
            [(ngModel)]="avatar"
            name="avatar"
          />
        </div>
        <div class="form__buttons">
          <button type="submit" class="btn">Register</button>
        </div>
      </form>
    </div>
  </div>
  <p-toast></p-toast>
</div>
