<nav class="navbar">
  <div class="flex-1">
    <avatar></avatar>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a
        routerLink="/home"
        routerLinkActive="active__button"
        class="nav__link"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li class="nav__item">
      <a
        routerLink="/createPost"
        class="nav__link"
        routerLinkActive="active__button"
        ariaCurrentWhenActive="page"
        >Create Post</a
      >
    </li>
    <li class="nav__item">
      <a
        routerLink="/allPosts"
        class="nav__link"
        routerLinkActive="active__button"
        ariaCurrentWhenActive="page"
        >All Posts</a
      >
    </li>
    <li class="nav__item">
      <a
        routerLink="/about"
        routerLinkActive="active__button"
        class="nav__link"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
  </ul>
</nav>
