.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--c-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--c-white);
}

.flex-1 {
  flex: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  font-size: large;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
  width: 3cm;
}

.nav-link:hover {
  background-color: var(--c-white);
  color: var(--c-primary);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid var(--c-white);
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}
