.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.nav__link {
  font-size: large;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
  color: black;

  &:hover,
  &.active__button {
    background-color: var(--c-dark);
    cursor: pointer;
    color: white;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid white;
  }

  .nav__item {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .nav__link {
    width: 100%;
    text-align: center;
  }
}
