.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-radius: 10px;
  width: 16cm;
  padding: 1cm;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    height: 5cm;
    width: auto;
    border-radius: 10px;
  }

  .card__body {
    margin-left: 1cm;
    text-align: center;

    h2 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
  }
}
