<div class="body">
  <div class="images">
    <div>
      <image-wrapper
        [heading]="'Explore'"
        [image]="
          'https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0a/6d/9c/f5.jpg'
        "
      ></image-wrapper>
    </div>
    <div>
      <image-wrapper
        [heading]="'Create'"
        [image]="
          'https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/12/59/00/3c.jpg'
        "
      ></image-wrapper>
    </div>
    <div>
      <image-wrapper
        [heading]="'Enjoy'"
        [image]="
          'https://www.travelandleisure.com/thmb/MriQxOVvVJ1MLNgWUXbGl8L2rGk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-Backpacker-BUDGET0323-eeaf531276694f93966baa8fbcd2730d.jpg'
        "
      ></image-wrapper>
    </div>
  </div>
  <card></card>
  <div class="login__register">
    <login
      (buttonValue)="onButtonClicked($event)"
      *ngIf="!user && activeComponent === 'Login'"
    ></login>

    <register
      (buttonValue)="onButtonClicked($event)"
      *ngIf="!user && activeComponent === 'Register'"
    ></register>
  </div>
</div>
