<div class="post">
  <div class="post__body" *ngIf="post">
    <div class="post__img image-fit">
      <img [src]="post.post?.image" alt="Post Image" />
    </div>

    <div class="post__content">
      <h2 class="post__title">{{ post.post?.title }}</h2>
      <div class="badge" *ngIf="post.post.userId === userId">
        <p>Your post</p>
      </div>

      <p>{{ post.post?.shortDescription }}</p>

      <div class="post__description" *ngIf="showFullView; else shortView">
        {{ post.post.description }}
        <div class="author">
          <p>Author: {{ post.post.userEmail }}</p>
          <img [src]="post.post?.userAvatar" alt="user avatar" />
        </div>

        <br />
        <button class="btn" (click)="showFullPost(previousNavPath)">
          Go back
        </button>
      </div>

      <ng-template #shortView>
        <div class="icons">
          <div *ngIf="post.post.userId !== userId; else postByUser">
            <comment (click)="toggleComment()" [post]="post"></comment>
            <like [isLiked]="isLiked" [post]="post" [userId]="userId"></like>
          </div>
          <button (click)="showFullPost(post?.id)" class="btn">
            Full view
          </button>

          <ng-template #postByUser>
            <comment [isPostByUser]="true" [post]="post"></comment>
            <delete [post]="post"></delete>
            <bookmarkHeart [postId]="post.id"></bookmarkHeart>
          </ng-template>
        </div>
      </ng-template>

      <form (ngSubmit)="submitComment()" *ngIf="showComment">
        <input
          type="text"
          placeholder="Leave a comment"
          class="input"
          [(ngModel)]="comment"
          name="comment"
        />
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="reset" (click)="toggleComment()">
          Cancel
        </button>
      </form>
    </div>
  </div>
  <p-toast></p-toast>
</div>
