.home__container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-top: 50px;

  .home__posts {
    width: 59%;
    height: auto;
  }

  .side__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1123px) {
  .home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
