.home__container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-top: 50px;

  .home__posts > div {
    margin-bottom: 30px;
  }

  .side__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
