*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body,
html {
  min-height: 100%;
  margin-bottom: 30px;
}

body {
  font-family: Montserrat Sans MS, Calibri, cursive;
}
