.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #d38a65;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #62453d;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-text {
  text-align: center;
}

.form-body {
  background-color: #ffffff;
  width: 10cm;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom: 1.5rem;
}

.label-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border-color: #632404;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-body {
  background-color: #f9eed8;
  font-family: cursive;
}

.activeButton {
  background-color: #d38a65;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.post-card {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 20px;
}

.post-card img {
  width: 600px;
  height: 300px;
}

.post-content {
  padding: 20px;
  flex: 1;
}

.post-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
  display: flex;
  justify-content: center;
}

.post-description {
  font-size: medium;
  margin: 10px 0;
  color: #666;
}

.post-short-description {
  font-size: 0.9em;
  color: #888;
  display: flex;
  justify-content: center;
}

.post-body {
  width: 600px;
  height: auto;
}

svg {
  width: 40px;
  height: auto;
  margin-top: 6px;
  margin-left: 7px;
}
