<div class="login">
  <div class="login-content">
    <div class="login-text">
      <h1>{{ heading }}</h1>
      <p class="py-6">Your travel buddies are waiting for you!</p>
    </div>
    <div class="login-body">
      <form (ngSubmit)="login()" class="login-input">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="email"
            placeholder="email"
            class="input"
            required
            [(ngModel)]="email"
            name="email"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input"
            required
            [(ngModel)]="password"
            name="password"
          />
          <!-- <button (click)="register()" class="btn">Register</button> -->
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn">{{ buttonText }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
