<div class="login">
  <div class="login-content">
    <div class="login-text">
      <h1>Login now!</h1>
      <p class="py-6">
        Join our community by sharing your travel experience <br />
        or connect with people!
      </p>
    </div>
    <div class="login-body">
      <form class="login-input">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email" class="input" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input"
            required
          />

          <button class="btn">Register</button>
        </div>
        <div class="form-control mt-6">
          <button class="btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
