.avatar {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  align-items: center;
  position: relative;

  p {
    margin-right: 1rem;
    margin-top: 0.7rem;
  }

  .image-fit {
    padding-bottom: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -14%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        cursor: pointer;
        background-color: var(--c-dark);
      }
    }
  }
}

.avatar:hover .dropdown__menu {
  display: block;
  animation: fade__down ease-out 0.5s;
}

@media (max-width: 768px) {
  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;

    .dropdown__menu {
      display: none;
      position: absolute;
      left: -15%;
      top: 100%;
      width: 18rem;
      height: auto;
    }
  }
}
