.avatar img {
  display: flex;
  border-radius: 60%;
  width: 90px;
  height: 90px;
}

p {
  margin-right: 1rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
  }
}
