<div>
  <div class="heading">
    <h2>
      Here are the most trendy users:
      <span
        class="pi pi-chart-line"
        style="font-size: var(--icon-size); color: black"
      ></span>
    </h2>
  </div>

  <div class="container" *ngIf="trendingUsers; else noTrendyUsers">
    <div class="trendy__users" *ngFor="let user of trendingUsers">
      <div class="user">
        <div class="content">
          <p>{{ user.user.username }}</p>
          <div class="image-fit">
            <img [src]="user.user.avatar" alt="user" />
          </div>
          <div class="stats">
            <div class="likes">
              <span>Likes:</span>
              <span
                class="pi pi-heart"
                style="font-size: var(--icon-size); color: red"
              ></span>
              <span class="count">{{ user.likes }}</span>
            </div>
            <div class="comments">
              <span>Comments: </span>
              <span
                class="pi pi-comments"
                style="font-size: var(--icon-size); color: grey"
              ></span>
              <span class="count">{{ user.comments }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noTrendyUsers> There are currently no posts! </ng-template>
