.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  flex: 1;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  cursor: pointer;
}

.main {
  padding: 20px;
}

.content {
  margin-top: 20px;
}

.login-register {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #e0e0e0;
}

.flex-1 {
  flex: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  font-size: medium;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
  width: 3cm;
}

.nav-link:hover {
  background-color: #e2e6ea;
  color: #ff6600;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #e0e0e0;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}
