<nav class="navbar">
  <div class="flex-1">
    <avatar></avatar>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a
        routerLink="/home"
        routerLinkActive="activeButton"
        class="nav-link"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/createPost"
        class="nav-link"
        routerLinkActive="activeButton"
        ariaCurrentWhenActive="page"
        >Create Post</a
      >
    </li>
    <li class="nav-item">
      <a
        (click)="logout()"
        class="nav-link"
        routerLinkActive="activeButton"
        ariaCurrentWhenActive="page"
        >Logout</a
      >
    </li>
  </ul>
</nav>
