.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    animation: popIn 1s ease-out;
  }

  img {
    width: 50px;
    height: auto;
  }
}
