<main class="main">
  <app-navbar *ngIf="user"></app-navbar>
  <div class="content">
    <card *ngIf="!user" class="card"></card>

    <div class="login__register">
      <login
        (buttonValue)="onButtonClicked($event)"
        *ngIf="!user && activeComponent === 'Login'"
        class="fade-in"
      ></login>

      <register
        (buttonValue)="onButtonClicked($event)"
        *ngIf="!user && activeComponent === 'Register'"
        class="fade-in"
      ></register>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
