<div class="form">
  <div class="form__content">
    <div class="form__text">
      <h1>Create your personal post from your last trip!</h1>
      <p class="py-6">
        Upload a picture from your travel destination <br />
        and a description how was your experience there
      </p>
    </div>
    <div class="form__body">
      <form (ngSubmit)="submitPost()" class="form__input">
        <div class="form__control">
          <label class="label">
            <span class="label__text">Title</span>
          </label>
          <input
            type="text"
            placeholder="For example the name of the country"
            class="input"
            required
            name="title"
            [(ngModel)]="post.title"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Short Description</span>
          </label>
          <input
            type="text"
            placeholder="For example the name of the town"
            class="input"
            required
            name="short description"
            [(ngModel)]="post.shortDescription"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Description</span>
          </label>
          <input
            type="text"
            placeholder="Share your journey "
            class="input"
            required
            name="description"
            [(ngModel)]="post.description"
          />
        </div>

        <div class="form__control">
          <label class="label">
            <span class="label__text">Image</span>
          </label>
          <input
            type="text"
            placeholder="Provide an image by URL"
            class="input"
            required
            name="image"
            [(ngModel)]="post.image"
          />
        </div>
        <div class="form__buttons">
          <button type="submit" class="btn">Upload post</button>
        </div>
      </form>
    </div>
  </div>
  <p-toast></p-toast>
</div>
