.block__container {
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 24rem;
  padding: 10px 0;
  margin-left: 35px;
  animation: popIn 0.6s ease-out forwards;

  h2 {
    margin-bottom: 13px;
  }

  .block__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
  }

  .info__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    p {
      margin-top: 10px;
    }
  }

  .icon {
    margin-right: 12px;
  }
}
