<div class="block__container">
  <div class="block__body" *ngIf="isFirstBlock; else second__block">
    <h2>{{ userInfo[0] }}:</h2>
    <div class="info__stats">
      <div class="icon">
        <span
          class="pi pi-calendar-clock"
          style="font-size: var(--icon-size); color: #90caf9"
        ></span>
      </div>
      <p>{{ userInfo[1] }}</p>
    </div>
    <div class="info__stats">
      <div class="icon">
        <span
          class="pi pi-cloud-upload"
          style="color: #abbdf6; font-size: var(--icon-size)"
        ></span>
      </div>
      <p>{{ userInfo[2] }}</p>
    </div>
  </div>
  <div>
    <ng-template #second__block>
      <div class="block__body">
        <h2>{{ postsInfo[0] }}:</h2>
        <div class="info__stats">
          <div class="icon">
            <span
              class="pi pi-comments"
              style="font-size: var(--icon-size); color: #cfb280"
            ></span>
          </div>
          <p>{{ postsInfo[1] }}</p>
        </div>
        <div class="info__stats">
          <div class="icon">
            <span
              class="pi pi-heart"
              style="font-size: var(--icon-size); color: red"
            ></span>
          </div>
          <p>{{ postsInfo[2] }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
