<div class="block__container">
  <div class="block__body">
    <h1>{{ info[0] }}</h1>
    <ul>
      <div
        class="info__stats"
        *ngIf="info[2] === 'calendar'; else elseBlockNumber"
      >
        <div class="icon">
          <span
            class="pi pi-calendar-clock"
            style="font-size: var(--icon-size); color: #cfb280"
          ></span>
        </div>
        <p>{{ info[1] }}</p>
      </div>

      <ng-template #elseBlockNumber>
        <div class="info__stats">
          <div class="icon">
            <span
              class="pi pi-cloud-upload"
              style="font-size: var(--icon-size); color: #abbdf6"
            ></span>
          </div>
          <p>{{ info[1] }}</p>
        </div>
      </ng-template>

      <div class="info__stats" *ngIf="info[4] === 'user'; else elseBlockHeart">
        <div class="icon">
          <span
            class="pi pi-user"
            style="color: #90caf9; font-size: var(--icon-size)"
          ></span>
        </div>
        <p>{{ info[3] }}</p>
      </div>

      <ng-template #elseBlockHeart>
        <div class="info__stats">
          <div class="icon">
            <span
              class="pi pi-heart"
              style="font-size: var(--icon-size); color: red"
            ></span>
          </div>
          <p>{{ info[3] }}</p>
        </div>
      </ng-template>
    </ul>
  </div>
</div>
