.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content:hover {
    transform: translateY(-10px);
  }

  .content {
    width: 40rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 35px;
    overflow: hidden;
    transition: transform 0.3s ease;

    .blocks {
      display: flex;
      flex-direction: row;
      margin-left: 1rem;

      .block__content {
        display: flex;
        flex-direction: row;
        margin: 0.5rem;

        p {
          align-content: flex-end;
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }
    .credits__block {
      width: 38rem;
      margin: 2rem auto;
      padding: 1.5rem;
      background: linear-gradient(
        135deg,
        var(--c-primary) 0%,
        var(--c-dark) 100%
      );
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      color: #fff;

      img {
        width: 100%;
        max-width: 30rem;
        height: auto;
        border-radius: 8px;
        border: 2px solid #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.block.isReverse {
  display: flex;
  justify-content: flex-end;
}
