<div class="container">
  <div class="content">
    <div class="blocks">
      <div *ngIf="likeFunctionality" class="block__content">
        <span
          class="pi pi-heart-fill"
          style="font-size: var(--icon-size); color: red"
        ></span>
        <p>Like posts</p>
      </div>

      <div *ngIf="uploadFunctionality" class="block__content">
        <span
          class="pi pi-camera"
          style="font-size: var(--icon-size); color: #774342"
        ></span>
        <p>Upload posts by sharing experience on your last trip</p>
      </div>

      <div *ngIf="commentFunctionality" class="block__content">
        <span
          class="pi pi-comments"
          style="font-size: var(--icon-size); color: grey"
        ></span>
        <p>Leave your thoughts on posts by commenting</p>
      </div>
    </div>
    <div *ngIf="creditFunctionality" class="credits__block">
      <p>
        All beautiful images and example content for posts are provided by
        <a href="https://www.tripadvisor.com/" target="_blank">TripAdvisor</a>.
      </p>
      <img
        src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0f/3d/64/7e.jpg"
        alt="people"
      />
    </div>
  </div>
</div>
