.container {
  .content {
    width: 40rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.3s ease;
    padding: 7px;

    &:hover {
      transform: translateY(-10px);
    }

    .credits__block {
      width: 38rem;
      margin: 2rem auto;
      padding: 1.5rem;
      background: linear-gradient(
        135deg,
        var(--c-primary) 0%,
        var(--c-dark) 100%
      );
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      color: #fff;

      img {
        width: 100%;
        max-width: 30rem;
        height: auto;
        border-radius: 8px;
        border: 2px solid #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .block__content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    p {
      margin-top: 5px;
    }

    span {
      margin-top: 2px;
    }
  }
}
