<div class="block" [class.isReverse]="reverse">
  <div class="block__body">
    <span *ngIf="likeFunctionality" class="block__content">
      <clipboard></clipboard>
      <p>Like posts</p>
    </span>

    <span *ngIf="uploadFunctionality" class="block__content">
      <p>Upload posts by sharing experience on your last trip</p>
      <camera></camera>
    </span>

    <span *ngIf="commentFunctionality" class="block__content">
      <p>Upload posts by sharing experience on your last trip</p>
      <comment></comment>
    </span>
  </div>
</div>
