.block {
  width: 40rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;

  > * {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
}

.block.isReverse {
  display: flex;
  justify-content: flex-end;
}

.block__content {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;

  p {
    align-content: flex-end;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.block:hover {
  transform: translateY(-10px);
}
