<div class="profile__container container">
  <div class="sidebar">
    <ul>
      <li
        (click)="showSection('overview')"
        [class.active__section]="currentSection === 'overview'"
      >
        Overview
      </li>
      <li
        (click)="showSection('changePassword')"
        [class.active__section]="currentSection === 'changePassword'"
      >
        Change Password
      </li>
      <li
        (click)="showSection('accountSettings')"
        [class.active__section]="currentSection === 'accountSettings'"
      >
        Account Settings
      </li>
    </ul>
  </div>

  <div class="content">
    <div *ngIf="currentSection === 'overview'" class="section__overview">
      <overview [userCredentials]="userCredentials$"></overview>
    </div>

    <div *ngIf="currentSection === 'accountSettings'" class="section__settings">
      <h2>Account Settings</h2>
    </div>

    <div *ngIf="currentSection === 'changePassword'" class="section__password">
      <change-password></change-password>
    </div>
  </div>
  <p-toast></p-toast>
</div>
