<div class="container">
  <h2>Change Password</h2>
  <form (ngSubmit)="changeCurrentPassword()">
    <div class="form__input">
      <div>
        <label for="email">Email:</label>
        <input
          class="input"
          type="text"
          name="email"
          [(ngModel)]="inputEmail"
        />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input
          class="input"
          type="password"
          name="password"
          [(ngModel)]="newPassword"
        />
      </div>
    </div>

    <button class="btn" type="submit">Change Password</button>
  </form>

  <div class="instructions">
    <h1>Instructions:</h1>
    <p>
      A password reset email will be sent to the given email address and you
      will be logged out. The email includes a link which would lead you to a
      secure browser for creating your new password. After successfully changing
      your password you can log in.
    </p>
  </div>
  <p-toast></p-toast>
</div>
