@use "./styles/components/cards-container" as *;
@use "./styles/components/animations" as *;
@use "./styles/variables" as *;
@use "./styles/overrides" as *;
@import "primeng/resources/themes/saga-orange/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.main-body {
  background-color: #ffedd9;
}

.activeButton {
  background-color: var(--c-primary);
}

.btn {
  width: 12.5rem;
  height: 3.1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--c-primary);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--c-dark);
  }
}

.avatar {
  display: flex;
  align-items: row;
  gap: 20px;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  .form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form__body {
    background-color: #ffffff;
    width: 10cm;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form__text {
    text-align: center;
  }

  .form__control {
    margin-bottom: 1.5rem;
  }

  .form__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .label__text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
  }
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.375rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border-color: var(--c-dark);
}

svg {
  width: 40px;
  height: auto;
  margin-top: 6px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.comment,
.bookmark,
.like-heart {
  display: flex;
  align-items: center;
  font-size: 18px;

  svg {
    margin-right: 5px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.image-fit {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }
}
