<div class="body">
  <div class="post-container">
    <div *ngFor="let post of posts$" class="post-card">
      <img
        src="https://www.berlin.de/binaries/asset/image_assets/6274092/ratio_4_3/1684826673/800x600/"
        alt="Post Image"
      />
      <div class="post-content">
        <h2 class="post-title">{{ post.post.title }}</h2>
        <p class="post-description">{{ post.post.description }}</p>
        <p class="post-short-description">{{ post.post.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
