<div class="allPosts">
  <div class="container">
    <div class="posts__heading">
      <h1>Here you can browse through all travel buddies posts.</h1>
      <p>
        Be open to share your thoughts by leaving a comment or just press like!
      </p>
    </div>
    <div class="cards__container" *ngIf="posts$?.length > 0; else emptyPosts">
      <div *ngFor="let post of posts$" class="post">
        <post [post]="post" [userId]="currentUser.uid"></post>
      </div>
    </div>
    <ng-template class="emptyHome" #emptyPosts>
      <h1>No posts yet</h1>
    </ng-template>
  </div>
  <p-scrollTop
    target="window"
    styleClass="custom-scrolltop"
    [threshold]="5"
    icon="pi pi-arrow-up"
    behavior="smooth"
  />
  <p-toast></p-toast>
</div>
