<main class="main">
  <app-navbar *ngIf="user"></app-navbar>
  <h1 *ngIf="user">Hey user {{ user.email }}</h1>

  <div class="content">
    <pop-up *ngIf="!user"></pop-up>

    <div class="login-register">
      <login
        (buttonValue)="onButtonClicked($event)"
        *ngIf="!user && activeComponent === 'Login'"
      ></login>

      <register
        (buttonValue)="onButtonClicked($event)"
        *ngIf="!user && activeComponent === 'Register'"
      ></register>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
